In [1]:
import my_utils as mu
from tqdm import tqdm
import time
tqdm.pandas()

In [2]:
tier = 'GOLD'
for i in tqdm(range(10000)):
    try:
        raw_data = mu.get_rawdata(tier)
        df = mu.get_match_timeline_df(raw_data)
        conn = mu.connect_mysql()
        df.progress_apply(lambda x : mu.insert_matches_timeline_mysql(x,conn), axis = 1)
        conn.commit()
        conn.close()
        print(f'{i} 번째 완료')
        time.sleep(90)
    except Exception as e:
        print(f'{e}의 원인으로 insert실패')
        time.sleep(90)

  0%|          | 0/10000 [00:00<?, ?it/s]

get summonerId....

100%|██████████| 4/4 [00:02<00:00,  1.93it/s]

get puuId.....

100%|██████████| 4/4 [00:01<00:00,  2.20it/s]

get match_id....

100%|██████████| 4/4 [00:01<00:00,  2.02it/s]

get matches & timeline....

100%|██████████| 12/12 [00:14<00:00,  1.17s/it]

소환사 스텟 생성중.....

100%|██████████| 12/12 [00:00<00:00, 171.82it/s]

8
df 제작이 완료되었습니다. 현재 df의 수는 118 입니다

  1%|          | 1/118 [00:00<00:00, 250.87it/s]

(1406, "Data too long for column 'firstBloodKill' at row 1")의 원인으로 insert실패

In [2]:
query_mysql = """
create table lol_datas (tier varchar(10), gameId varchar(30), gameDuration int, gameVersion varchar(40), summonerName varchar(50),
summonerLevel int, participantId int, championName varchar(50), champLevel varchar(10), champExperience int,
teamPosition varchar(50), teamId int,firstpurchased varchar(10) ,win varchar(50),gameEndedInEarlySurrender varchar(10), firstBloodKill varchar(10),
kills int, deaths int, assists int,kda double,
totalDamageDealtToChampions int ,totalDamageTaken int,
g_10 int, g_15 int,g_20 int,g_25 int)
"""
conn = mu.connect_mysql()
mu.sql_execute(conn,query_mysql)
query_mysql2 = 'ALTER TABLE lol_datas add primary key (gameId,participantId)'
mu.sql_execute(conn,query_mysql2)
conn.commit()
conn.close()

In [2]:
tier = 'GOLD'
raw_data = mu.get_rawdata(tier)
raw_data

get summonerId....

100%|██████████| 4/4 [00:02<00:00,  1.86it/s]

get puuId.....

100%|██████████| 4/4 [00:01<00:00,  2.17it/s]

get match_id....

100%|██████████| 4/4 [00:02<00:00,  1.94it/s]

get matches & timeline....

100%|██████████| 12/12 [00:14<00:00,  1.21s/it]

,tier,match_id,matches,timelines
0,GOLD,KR_6876853270,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
1,GOLD,KR_6872071355,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
2,GOLD,KR_6773237971,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
3,GOLD,KR_6881635594,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
4,GOLD,KR_6881546892,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
5,GOLD,KR_6877634838,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
6,GOLD,KR_6862084212,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
7,GOLD,KR_6862020784,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
8,GOLD,KR_6860658165,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
9,GOLD,KR_6878918254,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
10,GOLD,KR_6878884501,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."
11,GOLD,KR_6877492362,"{'metadata': {'dataVersion': '2', 'matchId': '...","{'metadata': {'dataVersion': '2', 'matchId': '..."

In [3]:
df = mu.get_match_timeline_df(raw_data)
df

소환사 스텟 생성중.....

100%|██████████| 12/12 [00:00<00:00, 169.47it/s]

10
df 제작이 완료되었습니다. 현재 df의 수는 108 입니다

,tier,gameId,gameDuration,gameVersion,summonerName,summonerLevel,participantId,championName,champLevel,champExperience,...,kills,deaths,assists,kda,totalDamageDealtToChampions,totalDamageTaken,g_10,g_15,g_20,g_25
0,GOLD,KR_6876853270,1440,13.24.547.9214,Irelliiaa,70,1,Irelia,13,11123,...,4,7,2,0.857143,15536,24445,3278,4903,6702,7736.0
1,GOLD,KR_6876853270,1440,13.24.547.9214,현지인드립,115,2,XinZhao,11,8067,...,3,11,3,0.545455,12723,31315,3829,5573,6838,7689.0
2,GOLD,KR_6876853270,1440,13.24.547.9214,랄 로 노 예,182,3,Gangplank,13,11086,...,3,9,4,0.777778,14118,22100,2915,6070,7699,9670.0
3,GOLD,KR_6876853270,1440,13.24.547.9214,좀힘드네,189,4,Vayne,12,8917,...,6,7,2,1.142857,11900,18208,3727,5836,7932,9322.0
4,GOLD,KR_6876853270,1440,13.24.547.9214,오르랑,196,5,Rumble,10,6904,...,2,9,6,0.888889,11841,17471,2517,4052,6113,6699.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,GOLD,KR_6877492362,1674,13.24.547.9214,llllIIllllIIllI,187,6,Syndra,16,15509,...,2,5,1,0.600000,16367,11290,3130,5123,7468,9509.0
104,GOLD,KR_6877492362,1674,13.24.547.9214,암흑의 카직스,122,7,Khazix,14,12947,...,5,4,7,3.000000,8963,28855,3290,5107,8065,10693.0
105,GOLD,KR_6877492362,1674,13.24.547.9214,엄살쟁이 김정남,98,8,Zed,18,19254,...,21,1,5,26.000000,43326,23708,4789,7476,11271,14286.0
106,GOLD,KR_6877492362,1674,13.24.547.9214,영권킹,339,9,Vayne,16,15109,...,2,2,8,5.000000,7371,15360,2789,4333,7043,9313.0
107,GOLD,KR_6877492362,1674,13.24.547.9214,자연의친구니코,259,10,Neeko,13,10559,...,4,3,11,5.000000,14036,10607,3059,4130,5954,7630.0

In [4]:
raw_data.iloc[0]

tier                                                      GOLD
match_id                                         KR_6876853270
matches      {'metadata': {'dataVersion': '2', 'matchId': '...
timelines    {'metadata': {'dataVersion': '2', 'matchId': '...
Name: 0, dtype: object

In [5]:
raw_data.iloc[0].timelines['info']['frames'][1]['events'][0]['participantId']

9

In [8]:
raw_data.iloc[0].timelines['info']['frames'][30]['participantFrames'][str(1)]['totalGold']

IndexError: list index out of range