In [5]:
import my_utils as mu
from tqdm import tqdm
import time
tqdm.pandas()

In [7]:
tier = 'GOLD'
for i in tqdm(range(10000)):
    try:
        raw_data = mu.get_rawdata(tier)
        df = mu.get_match_timeline_df(raw_data)
        conn = mu.connect_mysql()
        df.progress_apply(lambda x : mu.insert_matches_timeline_mysql(x,conn), axis = 1)
        conn.commit()
        conn.close()
        print(f'{i} 번째 완료')
        time.sleep(90)
    except Exception as e:
        print(f'{e}의 원인으로 insert실패')
        time.sleep(90)

  0%|          | 0/10000 [00:00<?, ?it/s]

get summonerId....

100%|██████████| 4/4 [00:02<00:00,  1.86it/s]

get puuId.....

100%|██████████| 12/12 [00:05<00:00,  2.10it/s]

get match_id....

100%|██████████| 12/12 [00:06<00:00,  1.95it/s]

get matches & timeline....

100%|██████████| 36/36 [00:43<00:00,  1.21s/it]

소환사 스텟 생성중.....

100%|██████████| 36/36 [00:00<00:00, 370.51it/s]

0
1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20
21
22
23
24
25
26
27
29
31
32
33
34
35
df 제작이 완료되었습니다. 현재 df의 수는 121 입니다

100%|██████████| 121/121 [00:00<00:00, 1506.44it/s]

0 번째 완료

In [6]:
query_mysql = """
create table lol_datas (tier varchar(10), gameId varchar(30), gameDuration int, gameVersion varchar(40), summonerName varchar(50),
summonerLevel int, participantId int, championName varchar(50), champLevel varchar(10), champExperience int,
teamPosition varchar(50), teamId int, ban varchar(4), firstpurchased varchar(10) ,win varchar(50),gameEndedInEarlySurrender varchar(10),
firstBloodKill varchar(10),doubleKills varchar(10), tripleKills varchar(10), quadraKills varchar(10), pentaKills varchar(10),
kills int, deaths int, assists int,kda double,
totalDamageDealtToChampions int ,totalDamageTaken int,
g_10 int, g_15 int,g_20 int,g_25 int)
"""
conn = mu.connect_mysql()
mu.sql_execute(conn,query_mysql)
query_mysql2 = 'ALTER TABLE lol_datas add primary key (gameId,participantId)'
mu.sql_execute(conn,query_mysql2)
conn.commit()
conn.close()

OperationalError: (1050, "Table 'lol_datas' already exists")